APP_NAME=Delivery Service Test
DEBUG=True
API_V1_PREFIX=/api/v1

POSTGRES_HOST_TEST=postgres_test
POSTGRES_PORT_TEST=5432
POSTGRES_DB_TEST=delivery_test
POSTGRES_USER_TEST=test_user
POSTGRES_PASSWORD_TEST=test_password

REDIS_HOST_TEST=redis_test
REDIS_PORT_TEST=6379

RABBITMQ_HOST_TEST=rabbitmq_test
RABBITMQ_PORT_TEST=5672
RABBITMQ_USER_TEST=guest
RABBITMQ_PASSWORD_TEST=guest

MONGODB_HOST_TEST=mongodb_test
MONGODB_PORT_TEST=27017
MONGODB_DB_TEST=delivery_test


#переменные для запуска приложения в тестовом контуре
POSTGRES_HOST=postgres_test
POSTGRES_PORT=5432
POSTGRES_DB=delivery_test
POSTGRES_USER=test_user
POSTGRES_PASSWORD=test_password

REDIS_HOST=redis_test
REDIS_PORT=6379

RABBITMQ_HOST=rabbitmq_test
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

MONGODB_HOST=mongodb_test
MONGODB_PORT=27017
MONGODB_DB=delivery_test
