APP_NAME=Delivery Service
DEBUG=True
LOG_LEVEL=INFO
API_V1_PREFIX=/api/v1

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=delivery_service
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

REDIS_HOST=redis
REDIS_PORT=6379

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

MONGODB_HOST=mongodb
MONGODB_PORT=27017
MONGODB_DB=delivery_service

CLICKHOUSE_DB=delivery_analytics
CLICKHOUSE_USER=analytics
CLICKHOUSE_PASSWORD=analytics
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_PORT=8123

AIRFLOW_POSTGRES_DB=airflow
AIRFLOW_POSTGRES_USER=airflow
AIRFLOW_POSTGRES_PASSWORD=airflow

AIRFLOW_FERNET_KEY=ZmFzdGFwaV9kZWxpdmVyeV9haXJmbG93X2tleV8yMDI2
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_EMAIL=admin@example.com
